<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>FavoritesBarEnabled</key>
    <true/>
    <key>HomepageLocation</key>
    <string>https://www.contoso.com</string>
    <key>PasswordManagerEnabled</key>
    <false/>
    <key>DefaultSearchProviderEnabled</key>
    <true/>
    <key>ExtensionInstallForcelist</key>
    <array>
      <string>ncoafaeidnkeafiehpkfoeklhajkpgij</string>
    </array>
  </dict>
</plist>